<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <figure class="errorimg">
                            <img src="./images/404 not found.png" alt="image" class="img-fluid">
                        </figure>
                            <a href="/"><button>Go BAck</button></a>
                    </div>
                    <!-- right side div -->
                </div>
            </div>
        </div>
    </div>
    {{!-- footer code --}}
    {{>footer}}
</body>

</html>